body{
  background-image: linear-gradient(135deg, #45d4fd 45%, #b7219f 65%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color:white;
  font-family: sans-serif;
  align-content: center;
}

#root {
  text-align: center;
}

 #root .categoryBtn {
  margin-right: 10px;
 }

 #root .imagegen{
  margin-top: 30px;
  border-radius: 10%;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
